body {
  font-family: 'Gentium Book Plus', serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #676b52; 
  color: white;
  padding: 20px 0;
  text-align: center;
}

main {
  padding: 20px;
}

section {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.welcome-section h2 {
  color: #676b52;
  font-size: 1.8em;
}

.quick-links nav ul {
  list-style: none;
  padding: 0;
}

.quick-links nav ul li {
  margin-bottom: 10px;
}

.quick-links nav ul li a {
  background: #333;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  font-family: 'Gentium Book Plus', serif;
}

.quick-links nav ul li a:hover {
  background: rgb(141, 6, 6);
}

.activity-section ul {
  list-style: none;
  padding: 0;
}

.activity-section ul li {
  background: #eee;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

footer {
  background-color: #333; 
  color: white;
  padding: 10px 0;
  text-align: center;
}
