body {
    font-family: 'Gentium Book Plus', serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #676b52; 
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  form {
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    border: none;
    background-color: #676b52; 
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #676b52;
  }
  
  footer {
    background-color: #676b52; 
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  