/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gentium-book-plus-regular {
    font-family: "Gentium Book Plus", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: "Gentium Book Plus", serif;
    line-height: 1.6;
    background-color: #676b52;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #ffffff;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    padding: 10px;
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: center;
}

.slogan {
    font-size: 0.8em;
    margin-right: auto;
    color: #000000;
}

nav button {
    background: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    font-family: "Gentium Book Plus", serif;
}

nav button:hover {
    background: rgb(141, 6, 6);
}

/* Add the .button class for link styling */
.button {
    background: #555;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
    display: inline-block;
    font-family: "Gentium Book Plus", serif;
}

.button:hover {
    background: rgb(141, 6, 6);
}

main {
    text-align: center;
    max-width: 800px;
    width: 100%;
    flex: 1;
}

h1 {
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    border: 2px solid #ccc;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 900px;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

section input,
section button {
    font-size: 1em;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
}

section button {
    background: rgb(228, 62, 62);
    color: #fff;
    cursor: pointer;
    font-family: "Gentium Book Plus", serif;
}

section button:hover {
    background: rgb(141, 6, 6);
}

footer {
    width: 100%;
    background: #333;
    color: #fff;
    padding: 2px 0;
    text-align: center;
    margin-top: 20px;
    box-shadow: inset 0 4px 18px rgb(106, 106, 106);
}

@media (min-width: 768px) {
    section {
        flex-direction: row;
        justify-content: space-around;
    }

    section form {
        flex-direction: row;
        justify-content: center;
    }
}

header img {
    max-width: 150px;
}
